<% @oils.each do |oil| %>
  <%= link_to oil_path(oil), {class: "col-xs-12 col-sm-4"} do %>
    <h1><%= oil.name %></h1>
    <p><%= oil.note %></p>
  <% end %>
<% end %>

<%= link_to "Ajouter une huile", new_oil_path %>
<%= link_to "Accueille", root_path %>
