<h1><%= @oil.name %></h1>
<p><%= @oil.note %>/5</p>
<% if @oil.photo.present? %>
  <%= cl_image_tag @oil.photo, height: 300, width: 400, crop: :fill %>
  <% else %>
  <%= cl_image_tag("m4irledchhkdafokueav",
      width: 400, height: 300, crop: :fill) %>
<% end %>
<%= form_for(@oil) do |f| %>

  <% if @oil.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @oil.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :note %>
    <%= f.text_field :note, class: 'form-control' %>
  </div>

  <%= f.submit "Modifier", class: 'btn btn-primary' %>
  <%= link_to "Suprimer", oil_path(@oil),
        method: :delete,
        data: { confirm: "Etes vous sûrs?" },class: 'btn btn-primary' %>

  <%= link_to "Les Huiles", oils_path,class: 'btn btn-primary'%>

<% end %>

